app:
  environment: dev

server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: cp-api-dev

  data:
    redis:
      lettuce:
        pool:
          max-active: 20
          max-idle: 10
          min-idle: 5

  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: BASIC

auth:
  cookie:
    secure: true

logging:
  file:
    path: /logs
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    io.chaekpool: INFO
    org.jooq: INFO
    org.jooq.tools.LoggerListener: DEBUG

management:
  endpoint:
    health:
      show-details: when-authorized
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      environment: dev
  tracing:
    sampling:
      probability: 1.0
