app:
  environment: local

server:
  port: ${SERVER_PORT:8080}

spring:
  docker:
    compose:
      file: docker-compose.local.yml
      lifecycle-management: start-and-stop
      arguments:
        - --env-file
        - .env.local

  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      pool-name: cp-api-local

  data:
    redis:
      lettuce:
        pool:
          max-active: 10
          max-idle: 5
          min-idle: 2

  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: FULL

springdoc:
  api-docs:
    enabled: true

auth:
  cookie:
    secure: false

logging:
  file:
    path: ./logs
  level:
    root: INFO
    io.chaekpool: DEBUG
    io.chaekpool.common.logger: DEBUG
    org.jooq.tools.LoggerListener: DEBUG

management:
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      environment: local
  tracing:
    sampling:
      probability: 1.0
