app:
  environment: local

server:
  address:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: FULL

logging:
  file:
    path: ./logs
  level:
    io.chaekpool.auth: DEBUG
    io.chaekpool.common.logger: DEBUG

common:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

auth:
  jwt:
    secret: ${JWT_SECRET}
    access-token-validity-seconds: ${JWT_ACCESS_TOKEN_VALIDITY_SECONDS}
    refresh-token-validity-seconds: ${JWT_REFRESH_TOKEN_VALIDITY_SECONDS}

  cookie:
    http-only: true
    secure: true
    same-site: Strict
    path: /api/v1
    max-age: ${JWT_REFRESH_TOKEN_VALIDITY_SECONDS}

  oauth:
    kakao:
      client-id: ${KAKAO_CLIENT_ID}
      client-secret: ${KAKAO_CLIENT_SECRET}
      redirect-uri: ${KAKAO_REDIRECT_URI}

management:
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      environment: local
